@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: 48px;
    font-weight: 700;
}

a {
    @apply italic;
}

a:hover {
    @apply underline decoration-black;
}

code {
    @apply bg-stone-300 p-1 rounded-sm;
}